.scroll-btn {
  color: black;
  position: fixed;

  width: 90%;
  bottom: 30px;
  right: 30px;
  font-size: 30px;
  border: none;
  background: none;
}

@media (width < 768px) {
  .scroll-btn {
    color: black;
    bottom: 5%;
    right: 0%;
    transform: translate(90%, 50%);
    font-size: 30px;
  }
}
